{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <article>
        <h2>{{ article.title }} </h2>
        <div class="metadata">written on {{  article.createdAt |date('H:i')}}  in {{ article.category.title }} category</div>
        <div class="content">
            <img src="{{ article.image }}" alt="">
            {{ article.content | raw }}
            <a href="{{ path('blog_edit', { "id" : article.id}) }}" class="btn btn-primary">Edit</a></div>
    </article>
    <section class="comments">
        {%  for comment in article.comments %}
        <div class="comment">
            <div class="row">
                 <div class="col-3">
                    {{ comment.author }} (<small>{{ comment.createdAt | date('d/m/Y at H:i') }}</small>)
                 </div>
                <div class="col">
                    {{ comment.content | raw }}
                </div>
            </div>
        </div>
            {% endfor %}
    </section>
    {% endblock %}